.meta {
  font-size: 2.5rem;
  margin: 20px 0px 20px 40px;
  color: var(--azul-escuro);
}

.descricao {
  font-size: 2rem;
  margin-left: 20px;
  color: var(--cinza);
}

span {
  line-height: 1.725;
}

.footer {
  background-color: var(--cinza-claro);
  color: var(--preto);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 10px 0;
}
