.meta {
  font-size: 1.6rem;
  background-color: #eef3f8;
  padding: 20px;
  margin-bottom: 30px;
}

.descricao {
  font-size: 2rem;
  margin-left: 20px;
  color: var(--cinza);
}

span {
  line-height: 1.725;
}
