.voluntario-bg {
  background-color: #eef3f8;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.voluntario-dc {
  margin-left: 20px;
  color: var(--cinza);
}

span {
  line-height: 1.725;
}
